.contactsToUs {
	border-radius: 10px;
	background-color: rgba(173, 216, 230, 0.6);
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 35%;
    padding: 10px 15px;


}
 .p {
    color: #000000); /* Цвет текста */
   }
